In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

import feature_utils as futils

import pickle

In [2]:
# read the data
word360 = pd.read_excel('../datafeatures_14new_update.xlsx')
# print(word360)
word360 = word360.loc[:,  word360.columns[2:17] ]
word360.columns

Index(['Date', 'Contest number', 'Word', 'Number of reported results',
       'Number in hard mode', '1 try', '2 tries', '3 tries', '4 tries',
       '5 tries', '6 tries', '7 or more tries (X)', 'Etrial', 'weekday',
       'HD_ratio'],
      dtype='object')

In [3]:
word2309 = pd.read_csv('../freq_5letters_possiblewords.csv')
word2309

      Unnamed: 0   word      freq
0              0  aback -1.062652
1              1  abase -2.136768
2              2  abate -0.800032
3              3  abbey  0.257638
4              4  abbot -0.440426
...          ...    ...       ...
2304        2304  young  1.931962
2305        2305  youth  1.462069
2306        2306  zebra  0.076707
2307        2307  zesty -1.188668
2308        2308  zonal -0.736664

[2309 rows x 3 columns]

In [4]:
trail1 = word360['1 try'].values.astype(np.float64)
trail2 = word360['2 tries'].values.astype(np.float64)
trail3 = word360['3 tries'].values.astype(np.float64)
trail4 = word360['4 tries'].values.astype(np.float64)
trail6 = word360['6 tries'].values.astype(np.float64)
trail7 = word360['7 or more tries (X)'].values.astype(np.float64)

## Double counts

In [5]:
double_counts = futils.get_double_count(word2309['word'])
double_score2309 = []

for i in range(len(word2309['word'])):
    double_score2309.append( futils.get_double_score(word2309['word'][i], double_counts, threshold=12) )

double_score2309 = np.array(double_score2309)

double_score360 = []
for i in range(len(word360['Word'])):
    double_score360.append( futils.get_double_score(word360['Word'][i], double_counts, threshold=12) )

double_score360 = np.array(double_score360)
double_score360.shape

with open('double_counts_2309.pkl', 'wb') as f:
    pickle.dump(double_counts, f)

## Triple counts

In [6]:
trible_counts = futils.get_trible_count(word2309['word'])
trible_score2309 = []

for i in range(len(word2309['word'])):
    trible_score2309.append( futils.get_trible_score(word2309['word'][i], trible_counts, threshold=5) )

trible_score2309 = np.array(trible_score2309)

trible_score360 = []

for i in range(len(word360['Word'])):
    trible_score360.append( futils.get_trible_score(word360['Word'][i], trible_counts, threshold=5) )

trible_score360 = np.array(trible_score360)
trible_score360.shape

with open('trible_counts_2309.pkl', 'wb') as f:
    pickle.dump(trible_counts, f)

## End counts

In [7]:
end_counts = futils.get_end_count(word2309['word'])
end_score2309 = []

for i in range(len(word2309['word'])):
    end_score2309.append( futils.get_end_score(word2309['word'][i], end_counts, threshold=10) )

end_score2309 = np.array(end_score2309)

end_score360 = []

for i in range(len(word360['Word'])):
    end_score360.append( futils.get_end_score(word360['Word'][i], end_counts, threshold=10) )

end_score360 = np.array(end_score360)
end_score360.shape

with open('end_counts_2309.pkl', 'wb') as f:
    pickle.dump(end_counts, f)

## Spaced double counts

In [8]:
spaced_double_counts = futils.get_spaced_double_count(word2309['word'])
spaced_double_score2309 = []

for i in range(len(word2309['word'])):
    spaced_double_score2309.append( futils.get_spaced_double_score(word2309['word'][i], spaced_double_counts, threshold=10) )

spaced_double_score2309 = np.array(spaced_double_score2309)

spaced_double_score360 = []

for i in range(len(word360['Word'])):
    spaced_double_score360.append( futils.get_spaced_double_score(word360['Word'][i], spaced_double_counts, threshold=10) )

spaced_double_score360 = np.array(spaced_double_score360)
spaced_double_score360.shape

with open('spaced_double_counts_2309.pkl', 'wb') as f:
    pickle.dump(spaced_double_counts, f)

## Begin counts

In [9]:
begin_counts = futils.get_begin_count(word2309['word'])
begin_score2309 = []

for i in range(len(word2309['word'])):
    begin_score2309.append( futils.get_begin_score(word2309['word'][i], begin_counts, threshold=10) )

begin_score2309 = np.array(begin_score2309)

begin_score360 = []

for i in range(len(word360['Word'])):
    begin_score360.append( futils.get_begin_score(word360['Word'][i], begin_counts, threshold=10) )

begin_score360 = np.array(begin_score360)
begin_score360.shape

with open('begin_counts_2309.pkl', 'wb') as f:
    pickle.dump(begin_counts, f)

## End counts

In [10]:
end_counts = futils.get_end_count(word2309['word'])
end_score2309 = []

for i in range(len(word2309['word'])):
    end_score2309.append( futils.get_end_score(word2309['word'][i], end_counts, threshold=10) )

end_score2309 = np.array(end_score2309)

end_score360 = []

for i in range(len(word360['Word'])):
    end_score360.append( futils.get_end_score(word360['Word'][i], end_counts, threshold=10) )

end_score360 = np.array(end_score360)
end_score360.shape

with open('end_counts_2309.pkl', 'wb') as f:
    pickle.dump(end_counts, f)

## Duplicate of letters

In [11]:
duplicate_score2309 = []
for i in range(len(word2309['word'])):
    duplicate_score2309.append( futils.get_duplicate_score(word2309['word'][i]) )

duplicate_score2309 = np.array(duplicate_score2309)

duplicate_score360 = []
for i in range(len(word360['Word'])):
    duplicate_score360.append( futils.get_duplicate_score(word360['Word'][i]) )

duplicate_score360 = np.array(duplicate_score360)
duplicate_score360.shape

(359,)

## Freq of letters (unweighted)

In [12]:
freq_count = futils.stats_letter_freq(word2309['word'])
freq_score2309 = []

for i in range(len(word2309['word'])):
    freq_score2309.append( futils.get_freq_score(word2309['word'][i], freq_count) )

freq_score2309 = np.array(freq_score2309)

freq_score360 = []

for i in range(len(word360['Word'])):
    freq_score360.append( futils.get_freq_score(word360['Word'][i], freq_count) )

freq_score360 = np.array(freq_score360)
freq_score360.shape

with open('freq_counts_2309.pkl', 'wb') as f:
    pickle.dump(freq_count, f)

## Freq of letters (weighted)

In [13]:
freq_count = futils.stats_letter_freq(word2309['word'])
freq_weighted_score2309 = []

for i in range(len(word2309['word'])):
    freq_weighted_score2309.append( futils.get_freq_score_weighted(word2309['word'][i], freq_count) )

freq_weighted_score2309 = np.array(freq_weighted_score2309)

freq_weighted_score360 = []

for i in range(len(word360['Word'])):
    freq_weighted_score360.append( futils.get_freq_score_weighted(word360['Word'][i], freq_count) )

freq_weighted_score360 = np.array(freq_weighted_score360)
freq_score360.shape

(359,)

## Continuous duplicate

In [14]:
duplicate_conti_score2309 = []
for i in range(len(word2309['word'])):
    duplicate_conti_score2309.append( futils.get_duplicate_conti_score(word2309['word'][i]) )

duplicate_conti_score2309 = np.array(duplicate_conti_score2309)

duplicate_conti_score360 = []
for i in range(len(word360['Word'])):
    duplicate_conti_score360.append( futils.get_duplicate_conti_score(word360['Word'][i]) )

duplicate_conti_score360 = np.array(duplicate_conti_score360)
duplicate_conti_score360.shape

(359,)

## vowel number

In [15]:
vowel_number_score2309 = []
for i in range(len(word2309['word'])):
    vowel_number_score2309.append( futils.get_vowel_number_score(word2309['word'][i]) )

vowel_number_score2309 = np.array(vowel_number_score2309)

vowel_number_score360 = []
for i in range(len(word360['Word'])):
    vowel_number_score360.append( futils.get_vowel_number_score(word360['Word'][i]) )

vowel_number_score360 = np.array(vowel_number_score360)
vowel_number_score360.shape

(359,)

## beginswith vowel

In [16]:
begin_vowel_score2309 = []
for i in range(len(word2309['word'])):
    begin_vowel_score2309.append( futils.get_begin_vowel_score(word2309['word'][i]) )

begin_vowel_score2309 = np.array(begin_vowel_score2309)

begin_vowel_score360 = []
for i in range(len(word360['Word'])):
    begin_vowel_score360.append( futils.get_begin_vowel_score(word360['Word'][i]) )

begin_vowel_score360 = np.array(begin_vowel_score360)
begin_vowel_score360.shape

(359,)

## commonality

In [17]:
commonality_score2309 = word2309['freq']
commonality_score360 = np.zeros(len(word360))

for i in range(len(word360['Word'])):
    commonality_score360[i] = word2309.loc[word2309['word'] == word360['Word'][i]]['freq'].values
commonality_score360.shape

(359,)

## variance of score

In [18]:
freq_count = futils.stats_letter_freq(word2309['word'])
freq_var_score2309 = []

for i in range(len(word2309['word'])):
    freq_var_score2309.append( futils.get_freq_var_score(word2309['word'][i], freq_count) )

freq_var_score2309 = np.array(freq_var_score2309)

freq_var_score360 = []

for i in range(len(word360['Word'])):
    freq_var_score360.append( futils.get_freq_var_score(word360['Word'][i], freq_count) )

freq_var_score360 = np.array(freq_var_score360)
freq_var_score360.shape

(359,)

## Calculate the 2309's mean, var

In [19]:
MEAN = [
    double_score2309.mean(), 
    trible_score2309.mean(), 
    end_score2309.mean(),
    spaced_double_score2309.mean(),
    begin_score2309.mean(),
    # end_score2309.mean(), 
    duplicate_score2309.mean(), 
    freq_score2309.mean(), 
    freq_weighted_score2309.mean(), 
    duplicate_conti_score2309.mean(), 
    vowel_number_score2309.mean(), 
    begin_vowel_score2309.mean(), 
    commonality_score2309.mean(), 
    freq_var_score2309.mean()
]

SIGMA = [
    double_score2309.std(), 
    trible_score2309.std(), 
    end_score2309.std(),
    spaced_double_score2309.std(),
    begin_score2309.std(),
    # end_score2309.std(), 
    duplicate_score2309.std(), 
    freq_score2309.std(), 
    freq_weighted_score2309.std(), 
    duplicate_conti_score2309.std(), 
    vowel_number_score2309.std(), 
    begin_vowel_score2309.std(), 
    commonality_score2309.std(), 
    freq_var_score2309.std()    
]

with open('../stats2309_14.pkl', 'wb') as f:
    pickle.dump((MEAN, SIGMA), f)

In [20]:
with open('../stats2309_14.pkl', 'rb') as f:
    # pickle.dump((MEAN, SIGMA), f)
    obj = pickle.load(f)
# obj

## output the 360 with features

In [21]:
data360 = [
    (double_score360 - double_score2309.mean()) / double_score2309.std(),
    (trible_score360 - trible_score2309.mean()) / trible_score2309.std(),
    (end_score360 - end_score2309.mean()) / end_score2309.std(),
    (spaced_double_score360 - spaced_double_score2309.mean()) / spaced_double_score2309.std(), 
    (begin_score360 - begin_score2309.mean()) / begin_score2309.std(), 
    # (end_score360 - end_score2309.mean()) / end_score2309.std(),
    (duplicate_score360 - duplicate_score2309.mean()) / duplicate_score2309.std(), 
    (freq_score360 - freq_score2309.mean()) / freq_score2309.std(), 
    (freq_weighted_score360 - freq_weighted_score2309.mean()) / freq_weighted_score2309.std(), 
    (duplicate_conti_score360 - duplicate_conti_score2309.mean()) / duplicate_conti_score2309.std(), 
    (vowel_number_score360 - vowel_number_score2309.mean()) / vowel_number_score2309.std(), 
    (begin_vowel_score360 - begin_vowel_score2309.mean()) / begin_vowel_score2309.std(), 
    (commonality_score360 - commonality_score2309.mean()) / commonality_score2309.std(), 
    (freq_var_score360 - freq_var_score2309.mean()) / freq_var_score2309.std(), 
]

In [22]:
col_name = ['double', 'trible', 'end', 'spaced double', 'begin', 'duplicate', 'freq', 'freq weight', 
'dupli conti', 'vowel num', 'begin vowel', 'commonality', 'freq var']

for i in range(13):
    word360.insert(len(word360.columns), col_name[i], data360[i])
word360

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,spaced double,begin,duplicate,freq,freq weight,dupli conti,vowel num,begin vowel,commonality,freq var
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,-0.389305,2.068445,-0.660634,-1.295936,-0.825135,-0.415544,-1.238871,-0.401105,-0.499057,-1.118001
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,0.754711,0.406050,-0.660634,-0.274505,-0.244414,-0.415544,-1.238871,-0.401105,-0.060077,0.046649
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,0.026701,-0.420169,1.231927,0.356430,0.036369,-0.415544,0.363680,-0.401105,-0.114883,1.066045
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,-1.470920,-1.335979,-0.660634,-0.417744,-1.009765,-0.415544,0.363680,-0.401105,1.222267,2.086014
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,-0.056500,-0.459987,-0.660634,-0.934428,-0.918483,-0.415544,-1.238871,-0.401105,1.189952,-0.471481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-12-27,556,condo,20879,2012,0,2,17,35,29,...,-0.514107,0.406050,1.231927,-0.586561,-0.501888,-0.415544,0.363680,-0.401105,0.461056,-1.216371
355,2022-12-28,557,impel,20160,1937,0,3,21,40,25,...,-1.283717,-1.226480,-0.660634,0.010268,0.246333,-0.415544,0.363680,2.493116,-1.616356,0.657854
356,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,...,-0.888512,-0.878074,-0.660634,-0.936133,-0.928912,-0.415544,0.363680,-0.401105,-0.183275,0.127703
357,2022-12-30,559,molar,21204,1973,0,4,21,38,26,...,-0.472506,-0.499805,-0.660634,0.624150,0.254274,-0.415544,0.363680,-0.401105,-0.644099,-0.539578
358,2022-12-31,560,manly,20380,1899,0,2,17,37,29,...,0.276304,-0.499805,-0.660634,-0.489363,-0.648392,-0.415544,-1.238871,-0.401105,-0.325188,-0.511495

In [28]:
word360.columns

Index(['Date', 'Contest number', 'Word', 'Number of reported results',
       'Number in hard mode', '1 try', '2 tries', '3 tries', '4 tries',
       '5 tries', '6 tries', '7 or more tries (X)', 'Etrial', 'weekday',
       'HD_ratio', 'double', 'trible', 'end', 'spaced double', 'begin',
       'duplicate', 'freq', 'freq weight', 'dupli conti', 'vowel num',
       'begin vowel', 'commonality', 'freq var'],
      dtype='object')

In [23]:
# word360.to_excel('../datafeatures_14_0220a.xlsx')

## output the 2309 with features

In [24]:
data2309 = [
    (double_score2309 - double_score2309.mean()) / double_score2309.std(),
    (trible_score2309 - trible_score2309.mean()) / trible_score2309.std(),
    (end_score2309 - end_score2309.mean()) / end_score2309.std(),
    (spaced_double_score2309 - spaced_double_score2309.mean()) / spaced_double_score2309.std(), 
    (begin_score2309 - begin_score2309.mean()) / begin_score2309.std(), 
    # (end_score2309 - end_score2309.mean()) / end_score2309.std(),
    (duplicate_score2309 - duplicate_score2309.mean()) / duplicate_score2309.std(), 
    (freq_score2309 - freq_score2309.mean()) / freq_score2309.std(), 
    (freq_weighted_score2309 - freq_weighted_score2309.mean()) / freq_weighted_score2309.std(), 
    (duplicate_conti_score2309 - duplicate_conti_score2309.mean()) / duplicate_conti_score2309.std(), 
    (vowel_number_score2309 - vowel_number_score2309.mean()) / vowel_number_score2309.std(), 
    (begin_vowel_score2309 - begin_vowel_score2309.mean()) / begin_vowel_score2309.std(), 
    (commonality_score2309 - commonality_score2309.mean()) / commonality_score2309.std(), 
    (freq_var_score2309 - freq_var_score2309.mean()) / freq_var_score2309.std(), 
]

In [25]:
word2309 = word2309.drop('freq', axis=1)

In [26]:
col_name = ['double', 'trible', 'end', 'spaced double', 'begin', 'duplicate', 'freq', 'freq weight', 
'dupli conti', 'vowel num', 'begin vowel', 'commonality', 'freq var']

for i in range(len(col_name)):
    word2309.insert(len(word2309.columns), col_name[i], data2309[i])
word2309

,Unnamed: 0,word,double,trible,end,spaced double,begin,duplicate,freq,freq weight,dupli conti,vowel num,begin vowel,commonality,freq var
0,0,aback,-0.556142,0.117946,-0.833192,-0.243703,-0.171308,1.231927,-0.641129,0.143887,-0.415544,0.363680,2.493116,-1.062421,0.729816
1,1,abase,0.059216,-0.060929,1.432469,2.252331,-0.171308,1.231927,1.427313,1.655823,-0.415544,1.966230,2.493116,-2.136306,0.645603
2,2,abate,0.112726,0.654572,1.432469,2.252331,-0.171308,1.231927,1.531331,1.726820,-0.415544,1.966230,2.493116,-0.799859,0.574448
3,3,abbey,-1.666463,-0.955306,1.007200,-1.304517,-0.171308,1.231927,-0.173896,0.503999,2.406486,0.363680,2.493116,0.257582,1.676600
4,4,abbot,-1.358784,-0.955306,0.193321,-0.867711,-0.171308,1.231927,-0.467195,0.279381,2.406486,0.363680,2.493116,-0.440331,0.009471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2304,2304,young,-0.047803,0.475697,-1.361113,-0.722109,-1.564932,-0.660634,-1.304462,-1.199691,-0.415544,0.363680,-0.401105,1.931544,-1.186702
2305,2305,youth,-0.422369,0.207384,-0.657218,-0.243703,-1.564932,-0.660634,-0.907144,-0.848755,-0.415544,0.363680,-0.401105,1.461752,-1.140727
2306,2306,zebra,-0.556142,-0.150367,-1.199804,-0.576507,-1.564932,-0.660634,0.223422,-0.445032,-0.415544,0.363680,-0.401105,0.076691,2.727305
2307,2307,zesty,0.045839,0.475697,1.007200,0.130702,-1.564932,-0.660634,-0.341009,-0.925931,-0.415544,-1.238871,-0.401105,-1.188411,1.654392
2308,2308,zonal,0.152858,-0.776431,-0.525238,-1.054914,-1.564932,-0.660634,-0.398986,-0.976740,-0.415544,0.363680,-0.401105,-0.736505,0.472523

In [27]:
word2309.to_excel('../datafeatures_14_2309_0220a.xlsx')